@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.icon {
    min-width: 50px;
    min-height: 50px;
    animation: rotate 10s linear infinite;
}